<app-menu></app-menu>
<div class="form">
    <form class="form-box">
        <label for="nivelInstitucion">Nivel e Institucion</label>
        <input type="text" id="nivelInstitucion" name="nivelInstitucion" [(ngModel)]="educacion.nivelInstitucion">
        <br>
        <label for="fecha">Fecha</label>
        <input type="text" id="fecha" name="fecha" [(ngModel)]="educacion.fecha">
        <br>
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo" [(ngModel)]="educacion.titulo">
        <br>
        <button (click)="guardar()" class="btn btn-outline-danger btn-block">Modificar</button>
    </form>
</div>