.btnfoto{
    display: flex;
    justify-content: start;
    margin-top: -30px;
    color: white;   
}

.btn {
    display: flex;
    justify-content: end;
    color: black;   
}
img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

