/* #button {
    display: flex;
    justify-content: end;
    margin: 20px;
} */

a{
    text-decoration: none;
}
#login {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
@media (max-width: 759px) {
    #login{
        font-size: 10px;
    }
    .btn-lg {
        padding: 3px;
    }
}